.mps-caches
source_gen
source_gen.caches
classes_gen
test_gen
test_gen.caches
com.am.stl.amminiature.costs
*.iws
build.properties
.mps/workspace.xml
.mps/inspectionProfiles

solutions/com.am.stl.amminiature.costs