.mps-caches
source_gen
source_gen.caches
classes_gen
test_gen
test_gen.caches
*.iws
build.properties
.mps/workspace.xml
.mps/inspectionProfiles

solutions/com.am.stl.amminiature.store
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
